html body li*:hover{
  background-color:yellow
}

body {
  background-color: blue;
}

h1 {
  class="card-heading";
}

h2 {
  class="card-subheading";
}

p {
  font-size: 20px;
}

li:hover{
  background-color: red;
}

.titleDiv {
  border: 1px outset black;
  background-color: cyan;
  text-align: right;
  margin: 10px;
}

.blogDiv { 
  overflow: hidden;
  border: 2px outset black;
  background-color: lightgreen;
  margin: 10px;
  text-align: justify;
  text-justify: inter-word;
}


.friendsDiv {
  float: left;
  border: 4px outset black;
  background-color: mediumpurple;
  margin-right: 10px;
  margin-left: 10px;
  width: 300px;
  text-align: left;
  font-size: 20px;
}

.whiteBoxDiv {
  font-family: Comic Sans MS, Comic Sans, cursive;
  border: 4px outset black;
  background-color: white;
}

img {
  float: right;
  width: 175px;
  height: 175px;
  Padding: 15px;
}